.header {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  padding: 15px;
}

#mainResult {
  display: block;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.container {
  display: block;
}

#fiveDay {
  display: block;
  border: black;
  border-style: solid;
  border-width: 1px;
}

#weatherBlock {
  display: block;
  background-color: blue;
  color: white;
  margin-right: 15px;
}
