body {
  background-color: rgb(222, 230, 240);
}

.header {
  background-color: black;
  color: white;
  height: 100px;
  text-align: center;
  padding: 15px;
}

#mainResult {
  background-color: lightgray;
  display: block;
  border: black;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.mainText {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.container {
  display: block;
}

#fiveDay {
  background-color: lightgray;
  display: block;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.weatherBlock {
  display: block;
  background-color: rgb(16, 153, 153);
  color: white;
  margin-right: 15px;
}

.danger {
  color: red;
}

.good {
  color: green;
}

.moderate {
  color: yellow;
}
